body {
    background-image: url('../images/notes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
#btn-edit {
    background-color: deeppink;
}